html,
body {
    background: #0097C2;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0em;
    padding: 0.3em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgba(12, 73, 100, .92);
}

nav {
    font-size: 80%;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 5px;
    font-family: Verdana, sans-serif;
    margin-bottom: 40px;
    border-radius: 10px;
    border: 2px solid rgba(12, 73, 100, .92);
    background-color: rgba(12, 73, 100, .92);
}

ul {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    overflow: hidden;
}

li {
    display: inline;
    text-align: center;
    /*float: left;*/
    margin: 6px;
}

header h2 {
    padding-bottom: .2em;
}

body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 85%;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding: 2.5% 2.5% 0;
    background: white;
    line-height: 1.8;
}

h1 {
    font: 1.5em 'Open Sans', sans-serif;
    margin-bottom: .4em;
    color: rgba(12, 73, 100, .92);
    text-shadow: 2px 2px 4px #000000;
}

h2 {
    font: 2.3em Georgia, "Times New Roman", Times, serif;
    margin-bottom: .2em;
}

h3 {
    font-size: 1.4em;
}

p {
    margin-bottom: 1em;
}

div {
    font-size: 0.8em;
    color: black;
}

a {
    color: black;
    display: inline-block;
    padding: 0 5px;
    height: 10px;
    line-height: 30px;
}

#navigation a {
    color: white;
    display: inline-block;
    padding: 0 5px;
    height: 10px;
    line-height: 30px;
}

#navigation a:hover {
    color: red;
}

a:hover {
    color: red;
}

dd {
    margin-bottom: 1.4em;
}

table {
    width: auto;
    border-radius: 10px;
    border: 2px solid rgba(12, 73, 100, .92);
    background: white;
    margin-top: 1em;
    font-size: 0.8em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

td,
th {
    padding: 10px;
}

.center {
    text-align: center;
}

section {
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 2.5% 2.5% 0;
    box-shadow: 10px 10px 5px #888888;
    border-radius: 15px;
    border: 2px solid rgba(12, 73, 100, .92);
    background: white;
    padding: 20px;
    width: auto;
    height: auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    border-radius: 10px;
    border: 2px solid rgba(12, 73, 100, .92);
    background: white;
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 560px;
    width: expression_r(this.width>560?"560px": this.width);
    max-height: 350px;
    height: expression_r(this.height>350?"350px": this.height);
}

aside {
    font-size: 0.8em;
    padding: 1em;
    width: auto;
    background: white;
    border-radius: 10px;
    border: 2px solid rgba(12, 73, 100, .92);
    margin-bottom: 1em;
}

footer {
    border-top: 1px solid gray;
    text-align: center;
    font-size: 1em;
    line-height: 4em;
    margin-top: 1em;
}